GOOGLE_SHEET_ID=
GOOGLE_SHEET_NAME=Stock
GOOGLE_ORDERS_SHEET_NAME=Orders
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
NEXT_PUBLIC_SITE_URL=http://localhost:3000

RESEND_API_KEY=
ORDER_NOTIFICATION_EMAIL=craneurboys@gmail.com
ORDER_EMAIL_FROM="CRANEURBOYS <orders@resend.dev>"

SHIPPING_PARIS_CENTS=549
SHIPPING_FRANCE_CENTS=549
